body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header-logo {
    font-size: 24px;
    color: #f9fAf8;
    margin-top: 8px;
}

.header-title {
    font-size: 48px;
    color: #f9fAf8;
    font-weight: 900;
}

.header-desc {
    font-size: 18px;
    color: #e5e7eB;
    display: flex;
    flex-wrap: wrap;
}

.awesome {
    padding: 0px;
}

.header {
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
  }

li {
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 1400px;
    height: 270px;
}

.right-header {
    width: 668px;
    background-color: rgba(158, 158, 158, 0.979);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header {
    width: 668px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.sign-up {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    border: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 900;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px 36px;
    align-self:flex-start;
    cursor: pointer;
}

.body1 {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body1Title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 36px;
    margin: 0;
}

.roundedImg {
    width: 150px;
    height: 150px;
    border: solid rgb(10, 120, 245);
    border-radius: 20px;
}

.imgDesc {
    display: flex;
    text-align: center;
    width: 150px;
    height: 150px;
    padding-top: 8px;
}

.lower_body1 {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.body2 {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 100px;
}

.text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 16px;
    font-weight: 900;
}

.bg {
    background-color: aliceblue;
}

.body3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 82px;
}

.cta {
    display: flex;
    width: 1000px;
    height: 120px;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.left {
    display: flex;
    flex-direction: column;
}

.sign-up1 {
    display: flex;
    align-self: center;
    outline: solid aliceblue;
}

.body3Title {
    font-size: 20px;
    color: #f9fAf8;
    font-weight: 900;
}

.body3Desc {
    font-size: 16px;
    color: #e5e7eB;
}

.footer {
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}